$colorePrimario: #333333;
$coloreSecondario: #e5b62e;

$titolo: clamp(2.8rem, 5vw, 4rem);

.contenitorePlayerInventario {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 380px;
}

.titoloPlayerInventario {
  font-size: $titolo;
  color: $coloreSecondario;
  margin-bottom: 50px;
}

.inventario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.box {
  height: 110px;
  width: 110px;
  background-image: url("./../../../assets/img/Gioca/inventarioBox.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);

  .nomeOggetto {
    position: absolute;
    top: 100%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px !important;
  }

  .quantitaOggetto {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px !important;
  }
}

.box1 {
  grid-area: 1 / 1 / 2 / 2;
}
.box2 {
  grid-area: 1 / 2 / 2 / 3;
}
.box3 {
  grid-area: 1 / 3 / 2 / 4;
}
.box4 {
  grid-area: 2 / 1 / 3 / 2;
}
.box5 {
  grid-area: 2 / 2 / 3 / 3;
}
.box6 {
  grid-area: 2 / 3 / 3 / 4;
}
