$colorePrimario: #333333;
$coloreSecondario: #e5b62e;

$titolo: clamp(2.8rem, 5vw, 4rem);

.contenitoreDistributore {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 380px;
  z-index: 99;
  min-width: 1152px !important;
  min-height: 900px !important;
}

.titoloDistributore {
  font-size: $titolo;
  color: $coloreSecondario;
  margin-bottom: 50px;
}

.contenitoreProdottiDistri {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #8db6c4;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #333333;
}

.imgProdotto1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  border-bottom: solid 4px #333333;
  padding: 10px;
}
.costoProdotto1 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 4px #333333;
  padding: 30px;
}
.compraProdotto1 {
  grid-area: 1 / 3 / 2 / 4;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 4px #333333;
  padding: 10px;

  p:hover {
    color: $colorePrimario;
  }
}

.imgProdotto2 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.costoProdotto2 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.compraProdotto2 {
  grid-area: 2 / 3 / 3 / 4;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  p:hover {
    color: $colorePrimario;
  }
}
