.contenutoMain {
  border-left: 1px dashed #737373;
  border-right: 1px dashed #737373;
  margin: 0px 15%;
  width: 70%;
}

.mainContenitoreSez1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.titolo {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 100px;
  margin-bottom: 50px;
}

.titolo p {
  text-align: center;
  color: #333333;
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.lineaTitolo {
  position: absolute;
  background-color: #e5b62e;
  bottom: 5px;
  height: 30px;
  width: 100%;
  z-index: -1;
}

.contenitoreMainBtn {
  margin-bottom: 250px;
  position: relative;
}

.mainBtn {
  position: absolute;
  color: #333333;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 0.2px solid #e5b62e;
  background-color: #c4c4c4;
  height: 50px;
  line-height: 50px;
  width: 200px;
  left: 0;
  right: 0;
  font-size: clamp(0.85rem, 1.3vw, 1.1rem);
}

.mainBtnStile {
  position: absolute;
  background-color: #9d9d9d;
  border: 0.2px solid #e5b62e;
  color: #333333;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
  margin-top: 8px;
  z-index: -1;
  left: 0;
  right: 0;
}

.mainBtn:hover {
  margin-top: 6px;
}

.contenitoreKiki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.kiki {
  background: url(./../../assets/img/home/kiki.svg) no-repeat left top;
  height: 90px;
  width: 90px;
  -webkit-animation: kikiWaking 1s steps(5) infinite;
          animation: kikiWaking 1s steps(5) infinite;
}

@-webkit-keyframes kikiWaking {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -450px 0;
  }
}

@keyframes kikiWaking {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -450px 0;
  }
}

.movingBg {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #c4c4c4;
  bottom: 0;
  z-index: -1;
}

.terra {
  position: relative;
  background-color: #333333;
  height: 2000px;
  padding-top: 200px;
}

.contenutoSenzaLinea {
  margin: 0px 15%;
  width: 70%;
}

.titoloSezioneScuro {
  color: #ffffff;
  font-size: clamp(2.1rem, 3.5vw, 3.3rem);
  padding-top: 250px;
  margin-bottom: 50px;
}

.titoloSezioneScuro:nth-child(1) {
  padding-top: 200px;
}

.mainContenutoSez2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 0px;
}

.testoSezioneScuro {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  color: #ffffff;
  font-size: clamp(0.85rem, 1.3vw, 1.1rem);
  line-height: 30px;
}

.mainImgSez2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  background-image: url(./../../assets/img/home/imgSez2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.navPagine {
  margin-top: 60px;
}

.navPagine span {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
  text-align: center;
}

.navPagine span p {
  color: #ffffff;
  font-size: clamp(0.85rem, 1.3vw, 1.1rem);
}

.navPagine span:nth-child(2),
.navPagine span:nth-child(3) {
  opacity: 0.6;
}

.mainContenutoSez3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "one two" "three four";
}

.mainContenutoSez3 .titoloSez3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.mainContenutoSez3 .characterImg {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: three;
  background-image: url(./../../assets/img/home/characterImg.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.mainContenutoSez3 .characterInfo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: four;
  min-height: 300px;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContenutoSez3 .characterInfo .characterName {
  margin-bottom: 20px;
  font-size: clamp(1.3rem, 1.3vw, 1.6rem);
}

.titoloSezioneChiaro {
  color: #333333;
  font-size: clamp(2.1rem, 3.5vw, 3.3rem);
  padding-top: 250px;
  margin-bottom: 50px;
}

.titoloSez4 {
  padding-top: 100px;
}

.contenitoreRules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenitoreRule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contenitoreRule:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.rule {
  word-wrap: break-word;
  width: 450px;
  padding: 20px;
  background-color: #c4c4c4;
  margin-bottom: 75px;
}

.ruleName {
  font-size: clamp(1.3rem, 1.3vw, 1.6rem);
}

.titoloSez5 {
  margin-top: -150px;
}

.contenitoreMappa {
  height: 400px;
  text-align: center;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  height: 300px;
}

@media (max-width: 1199.98px) {
  .contenutoMain,
  .contenutoSenzaLinea {
    margin: 0 7.5%;
    width: 85%;
  }
  .lineaTitolo {
    bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .lineaTitolo {
    bottom: -3px;
  }
}

@media (max-width: 900.98px) {
  .mainImgSez2 {
    display: none;
  }
  .mainContenutoSez2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .titoloSezioneScuro {
    text-align: center;
  }
  .testoSezioneScuro {
    text-align: center;
  }
  .navPagine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContenutoSez3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "one" "two" "three";
  }
  .mainContenutoSez3 .titoloSez3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: one;
  }
  .mainContenutoSez3 .characterImg {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: two;
    margin-bottom: 50px;
  }
  .mainContenutoSez3 .characterInfo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: three;
    text-align: center;
    display: block;
  }
  .titoloSezioneChiaro {
    text-align: center;
  }
  .rule {
    margin-bottom: 35px;
  }
  .contenitoreRule,
  .contenitoreRule:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .tabs {
    display: none;
  }
  .lineaTitolo {
    bottom: -5px;
  }
  .mainBtn,
  .mainBtnStile {
    height: 50px;
    line-height: 45px;
    width: 170px;
  }
}

@media (max-width: 575.98px) {
  .contenutoMain,
  .contenutoSenzaLinea {
    margin: 0;
    width: 100%;
  }
  .contenutoSenzaLinea {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navPagine span img {
    width: 45px;
  }
}
/*# sourceMappingURL=index.css.map */