$colorePrimario: #333333;
$coloreSecondario: #e5b62e;

$dimMainTitoloFont: clamp(2.5rem, 5vw, 4rem);
$dimTitoloSezione: clamp(2.1rem, 3.5vw, 3.3rem);
$dimTesto: clamp(0.85rem, 1.3vw, 1.1rem);
$dimTesto2: clamp(1.3rem, 1.3vw, 1.6rem);

body {
  overflow-x: hidden !important;
}

.contenutoMain {
  border-left: 1px dashed #737373;
  border-right: 1px dashed #737373;
  margin: 0px 15%;
  width: 70%;
  position: relative;
  z-index: 2;
}

#particles-js {
  position: absolute;
  width: 99vw;
  height: 100vh;
  top: 29%;
  z-index: 1;
  pointer-events: none;
}

.mainContenitoreSez1 {
  display: grid;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.titolo {
  position: relative;
  width: fit-content;
  margin-top: 100px;
  margin-bottom: 50px;
  p {
    text-align: center;
    color: $colorePrimario;
    font-size: $dimMainTitoloFont;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.lineaTitolo {
  position: absolute;
  background-color: $coloreSecondario;
  bottom: 5px;
  height: 30px;
  width: 100%;
  z-index: -1;
}

.contenitoreMainBtn {
  margin-bottom: 250px;
  position: relative;
}

.mainBtn {
  position: absolute;
  color: $colorePrimario;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 0.2px solid $coloreSecondario;
  background-color: #c4c4c4;
  height: 50px;
  line-height: 50px;
  width: 200px;
  left: 0;
  right: 0;
  font-size: $dimTesto;
}

.mainBtnStile {
  position: absolute;
  background-color: #9d9d9d;
  border: 0.2px solid $coloreSecondario;
  color: $colorePrimario;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
  margin-top: 8px;
  z-index: -1;
  left: 0;
  right: 0;
}

.mainBtn:hover {
  margin-top: 6px;
}

.contenitoreKiki {
  display: flex;
  justify-content: right;
}

.kiki {
  background: url(./../../assets/img/home/kiki.svg) no-repeat left top;
  height: 90px;
  width: 90px;
  animation: kikiWaking 1s steps(5) infinite;
}

@keyframes kikiWaking {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -450px 0;
  }
}

.movingBg {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #c4c4c4;
  bottom: 0;
  z-index: -1;
}

.terra {
  position: relative;
  background-color: $colorePrimario;
  height: auto;
  padding-bottom: 50px;
  overflow: hidden;
  box-shadow: 1px -1px 27px -2px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.tile {
  position: absolute;
  background-image: url("./../../assets/img/home/tile.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 40px;
  z-index: 1;
}

.tile1 {
  top: 10px;
  left: 50px;
}
.tile2 {
  top: 10px;
  left: 130px;
}
.tile3 {
  top: 50px;
  left: 80px;
}
.tile4 {
  top: 90px;
  left: 50px;
}

.tile5 {
  top: 50px;
  left: 800px;
}

.tile6 {
  top: 200px;
  left: 280px;
}
.tile7 {
  top: 240px;
  left: 240px;
}

.tile8 {
  top: 320px;
  left: -40px;
}

.tile9 {
  top: 150px;
  left: 1200px;
}
.tile10 {
  top: 150px;
  left: 1280px;
}
.tile11 {
  top: 190px;
  left: 1240px;
}

.tile12 {
  top: 200px;
  left: 1680px;
}
.tile13 {
  top: 240px;
  left: 1780px;
}

.tile14 {
  top: 320px;
  left: 680px;
}
.tile15 {
  top: 400px;
  left: 710px;
}

.tile16 {
  top: 1200px;
  left: 50px;
}
.tile17 {
  top: 1200px;
  left: 135px;
}
.tile18 {
  top: 1270px;
  left: 260px;
}

.tile19 {
  top: 1000px;
  left: 900px;
}
.tile20 {
  top: 1000px;
  left: 980px;
}
.tile21 {
  top: 1040px;
  left: 1020px;
}
.tile22 {
  top: 1040px;
  left: 940px;
}
.tile23 {
  top: 1100px;
  left: 1000px;
}

.tile24 {
  top: 840px;
  left: 1540px;
}
.tile25 {
  top: 800px;
  left: 1580px;
}

.tile18 {
  top: 1270px;
  left: 260px;
}
.tile19 {
  top: 1000px;
  left: 900px;
}
.tile20 {
  top: 1000px;
  left: 980px;
}
.tile21 {
  top: 1040px;
  left: 1020px;
}
.tile22 {
  top: 1040px;
  left: 940px;
}
.tile23 {
  top: 1100px;
  left: 1000px;
}

.contenutoSenzaLinea {
  margin: 0px 15%;
  width: 70%;
}

.titoloSezioneScuro {
  position: relative;
  color: #ffffff;
  font-size: $dimTitoloSezione;
  padding-top: 250px;
  margin-bottom: 50px;
  z-index: 2;
}

.titoloSezioneScuro:nth-child(1) {
  padding-top: 200px;
}

.mainContenutoSez2 {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
}

.titoloSez2 {
  padding-top: 400px !important;
}

.testoSezioneScuro {
  grid-area: 1 / 1 / 2 / 2;
  color: #ffffff;
  font-size: $dimTesto;
  line-height: 30px;
}

.mainImgSez2 {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url(./../../assets/img/home/imgSez2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.navPagine {
  margin-top: 60px;
  position: relative;
  z-index: 2;

  span {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    text-align: center;

    p {
      color: #ffffff;
      font-size: $dimTesto;
    }
  }

  span:nth-child(2),
  span:nth-child(3) {
    opacity: 0.6;
  }

  span:nth-child(3) {
    margin-right: 0px !important;
  }
}

.mainContenutoSez3 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two"
    "three four";
  margin-bottom: 100px;

  .titoloSez3 {
    grid-area: one;
  }

  .characterImg {
    grid-area: three;
    background-image: url(./../../assets/img/home/characterImg.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .characterInfo {
    grid-area: four;
    min-height: 300px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    line-height: 30px;

    .characterName {
      margin-bottom: 20px;
      font-size: $dimTesto2;
    }
  }
}

.arrowsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;

  .leftArrowDiv,
  .rightArrowDiv {
    display: flex;
    flex-direction: row;
    width: 50%;
    cursor: pointer;
  }

  .rightArrowDiv {
    justify-content: flex-end;
  }

  .leftArrow,
  .rightArrow {
    width: 50px;
    height: 50px;
    background-color: #737373;
  }

  .leftArrow {
    background-image: url(./../../assets/img/home/arrowLeft.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }

  .rightArrow {
    background-image: url(./../../assets/img/home/arrowRight.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.titoloSezioneChiaro {
  color: $colorePrimario;
  font-size: $dimTitoloSezione;
  padding-top: 250px;
  margin-bottom: 50px;
}

.titoloSez4 {
  padding-top: 100px;
}

.contenitoreRules {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .contenitoreRule {
    display: flex;
    justify-content: flex-start;
  }

  .contenitoreRule:nth-child(2) {
    justify-content: flex-end;
  }

  .rule {
    word-wrap: break-word;
    width: 450px;
    padding: 20px;
    background-color: #c4c4c4;
    margin-bottom: 75px;
    line-height: 30px;

    .ruleName {
      font-size: $dimTesto2;
      color: $colorePrimario;
    }

    .ruleDesc {
      color: $colorePrimario;
      padding-top: 10px;
    }
  }
}

.titoloSez5 {
  margin-top: -150px;
}

.contenitoreMappa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mappa {
  background-image: url(./../../assets/img/home/mappa.jpg);
  height: 500px;
  width: 600px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1399.98px) {
  .rule {
    width: 400px !important;
  }
}

@media (max-width: 1199.98px) {
  .contenutoMain,
  .contenutoSenzaLinea {
    margin: 0 7.5%;
    width: 85%;
  }
  .lineaTitolo {
    bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .lineaTitolo {
    bottom: -3px;
  }
  .titoloSezioneChiaro {
    text-align: center;
  }

  .rule {
    margin-bottom: 35px !important;
    width: 400px !important;
  }

  .contenitoreRule,
  .contenitoreRule:nth-child(2) {
    justify-content: center !important;
  }
}

@media (max-width: 900.98px) {
  .mainImgSez2 {
    display: none;
  }

  .mainContenutoSez2 {
    grid-template-columns: 1fr;
  }

  .titoloSezioneScuro {
    text-align: center;
  }

  .testoSezioneScuro {
    text-align: center;
  }

  .navPagine {
    display: flex;
    justify-content: center;
  }

  .mainContenutoSez3 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "one"
      "two"
      "three";

    .titoloSez3 {
      grid-area: one;
    }

    .characterImg {
      grid-area: two;
      margin-bottom: 50px;
    }

    .characterInfo {
      grid-area: three;
      text-align: center;
      display: block;
    }
  }
}

@media (max-width: 767.98px) {
  .tabs {
    display: none;
  }
  .lineaTitolo {
    bottom: -5px;
  }

  .mainBtn,
  .mainBtnStile {
    height: 50px;
    line-height: 45px;
    width: 170px;
  }

  .mainContenutoSez3 {
    margin-bottom: 50px;
  }
}

@media (max-width: 575.98px) {
  .contenutoMain,
  .contenutoSenzaLinea {
    margin: 0;
    width: 100%;
  }

  .contenutoSenzaLinea {
    padding-left: 10px;
    padding-right: 10px;
  }

  .navPagine span img {
    width: 45px;
  }

  .tile16,
  .tile17,
  .tile18 {
    display: none;
  }
}
