$colorePrimario: #333333;
$coloreSecondario: #e5b62e;

$titolo: clamp(2.8rem, 5vw, 4rem);

.contenitorePauseManu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 380px;
}

.titoloPauseManu {
  font-size: $titolo;
  color: $coloreSecondario;
  margin-bottom: 50px;
}

.actionBtnPauseMenu {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  width: 300px;
  height: 100px;
  background-size: contain;
  margin-bottom: 20px;
}

.actionBtnPauseMenu:hover {
  color: #000000;
}

.menuBtn {
  background-image: url(./../../../assets/img/Game/btn1.png);
}

.riprendiBtn {
  background-image: url(./../../../assets/img/Game/btn2.png);
}

@media (max-width: 1199.98px) {
  .actionBtnPauseMenu {
    width: 250px;
    height: 85px;
  }
}
