@font-face {
  font-family: forwardFont;
  src: url("./../../assets/fonts/forwardFont.TTF");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: forwardFont;
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  min-width: 380px;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #333333;
}

/**********************************************************************/
/***** navbar *****/
.navBar {
  border-bottom: 1px dashed #737373;
  color: #333333;
  padding: 0 15%;
}

.contenutoNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 60px;
}

.logo {
  display: inline-block;
  background-image: url(./../../assets/img/main/logo1.svg);
  height: 64px;
  width: 64px;
}

.mainContenutoNavBar {
  display: inline-block;
  border-left: 1px dashed #737373;
  width: 100%;
}

.mainContenutoNavBar span {
  cursor: pointer;
  margin-right: 30px;
}

.contenitoreMenuLogin {
  border-right: 1px dashed #737373;
}

.login {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.login a {
  border: solid 1px #333333;
  padding: 3px 20px;
}

.menu {
  position: relative;
  display: none;
  z-index: 5;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  cursor: pointer;
}

label span {
  background: #333333;
  height: 7px;
  margin: 7px 0;
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menuBar:nth-of-type(1) {
  width: 50%;
}

.menuBar:nth-of-type(2) {
  width: 100%;
}

.menuBar:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

.menuInput:checked ~ .menuBar:nth-of-type(1) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotatez(45deg) translate(8px, 0px);
          transform: rotatez(45deg) translate(8px, 0px);
}

.menuInput:checked ~ .menuBar:nth-of-type(2) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotatez(-45deg);
          transform: rotatez(-45deg);
}

.menuInput:checked ~ .menuBar:nth-of-type(3) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 50%;
  -webkit-transform: translate(30px, -11px) rotatez(45deg);
          transform: translate(30px, -11px) rotatez(45deg);
}

.overlayMenu {
  position: fixed;
  display: none;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

/**********************************************************************/
/***** scrollbar *****/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #9d9d9d;
}

@media (max-width: 1199.98px) {
  .navBar {
    padding: 0 7.5%;
  }
}

@media (max-width: 767.98px) {
  .menu {
    display: block;
  }
  .login {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .navBar {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */