$colorePrimario: #333333;
$coloreSecondario: #e5b62e;

$titolo: clamp(2.8rem, 5vw, 4rem);

.contenitoreAudio {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url(./../../../../../assets/img/Game/sfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenutoAudio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}

.titoloAudio {
  font-size: $titolo;
  color: $coloreSecondario;
  padding-bottom: 50px;
}

.actionBtnAudio {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  width: 300px;
  height: 100px;
}

.indietroBtn {
  background-image: url(./../../../../../assets/img/Game/btn1.png);
}

.contenitoreAudioBtn {
  display: inline-block;
}

.audioOnBtn {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: inline-block;
  background-image: url(./../../../../../assets/img/Audio/audioOn.png);
}

.audioOffBtn {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: inline-block;
  background-image: url(./../../../../../assets/img/Audio/audioOff.png);
}

@media (max-width: 1199.98px) {
  .contenutoAudio {
    width: 90%;
    margin-left: 5%;
  }
  .actionBtnAudio {
    width: 250px;
    height: 85px;
  }
}

@media (max-width: 991.98px) {
  .contenutoAudio {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }
}
