$colorePrimario: #333333;
$coloreSecondario: #e5b62e;

$dimMainTitoloFont: clamp(2.5rem, 5vw, 4rem);
$dimTitoloSezione: clamp(2.1rem, 3.5vw, 3.3rem);
$dimTesto: clamp(0.85rem, 1.3vw, 1.1rem);
$dimTesto2: clamp(1.3rem, 1.3vw, 1.6rem);

.swiper-cards .swiper-slide {
  overflow: visible !important;
}

.swiper {
  width: 400px;
  height: 420px;
}

.contenutoMain {
  border-left: 1px dashed #737373;
  border-right: 1px dashed #737373;
  margin: 0px 15%;
  width: 70%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
  overflow: hidden;
}

.swiper-slide {
  background: #fff;

  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  position: relative;
  z-index: 1;

  &.swiper-slide-active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .img {
    width: 150px;
    height: 150px;
    border: 5px solid #fdfdfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .name {
    padding-top: 100px;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
  }
  .title {
    text-align: center;
    font-size: 14px;
    color: $coloreSecondario;
    font-weight: 300;
  }
  .desc {
    color: $colorePrimario;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 300;
  }
  .img-1 {
    background-image: url("./../../assets/img/aboutUs/persona1.jpg");
  }
  .img-2 {
    background-image: url("./../../assets/img/aboutUs/persona2.jpg");
  }
  .img-3 {
    background-image: url("./../../assets/img/aboutUs/persona3.jpg");
  }
  .img-4 {
    background-image: url("./../../assets/img/aboutUs/persona4.jpg");
  }
  .img-5 {
    background-image: url("./../../assets/img/aboutUs/persona5.jpg");
  }
}

@media (max-width: 1199.98px) {
  .contenutoMain {
    margin: 0 7.5%;
    width: 85%;
  }
}

@media (max-width: 575.98px) {
  .contenutoMain {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .swiper {
    width: 300px;
    height: 320px;
  }
  .swiper-slide .name {
    font-size: 20px;
  }
  .swiper-slide .title {
    font-size: 10px;
  }
  .swiper-slide .desc {
    font-size: 12px;
  }
}
