.contenitoreMani {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  z-index: 98;
}

.mano {
  height: 110px;
  width: 110px;
  background-image: url("./../../../assets/img/Gioca/itemBox1.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  margin-top: 10px;
}

.manoSelezionata {
  height: 110px;
  width: 110px;
  background-image: url("./../../../assets/img/Gioca/itemBox3.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  margin-top: 10px;
}

.nomeItem {
  position: absolute;
  top: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px !important;
}

.quantitaItem {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px !important;
}
