$colorePrimario: #333333;
$coloreSecondario: #e5b62e;

$titolo: clamp(2.8rem, 5vw, 4rem);

.contenitoreOpz {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url(./../../../assets/img/Game/sfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenutoOpz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  min-width: 380px;
}

.titoloOpz {
  font-size: $titolo;
  color: $coloreSecondario;
  padding-bottom: 50px;
}

.actionBtnOpz {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  width: 300px;
  height: 100px;
  background-size: contain;
}

.actionBtnOpz:hover {
  color: #000000;
}

.audioBtn {
  background-image: url(./../../../assets/img/Game/btn1.png);
}

.indietroBtn {
  background-image: url(./../../../assets/img/Game/btn2.png);
}

@media (max-width: 1199.98px) {
  .contenutoOpz {
    width: 90%;
    margin-left: 5%;
  }
  .actionBtnOpz {
    width: 250px;
    height: 85px;
  }
}

@media (max-width: 991.98px) {
  .contenutoOpz {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }
}
